.site_header {
  min-height: 58px;
  background-color: #0052cc;
  padding: 0 16px;
}

.inner {
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  width: 100%;
  max-width: 1350px;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.logo {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-size: 22px;
  padding: 16px 16px;
  color: #fff;
  font-weight: 700;
}

.logo:hover {
  background-color: rgb(255 255 255 / 0.12);
  text-decoration: underline;
}
